<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fregments/header :: head"></head>
<body>

<th:block th:replace="fregments/header :: header"></th:block>

<div class="container mt-5 mb-5">

    <h2 class="page-title text-center">상품 목록</h2>

    <!-- 카테고리 -->
    <div class="text-center mb-4">

        <a href="/product"
           class="category-btn"
           th:classappend="${selectedCategory == null} ? 'active-category'">
            전체
        </a>

        <span th:each="c : ${categories}">
            <a th:href="@{'/product/category/' + ${c.id}}"
               class="category-btn"
               th:classappend="${selectedCategory == c.id} ? 'active-category'">
                <span th:text="${c.name}"></span>
            </a>
        </span>

    </div>

    <div class="row">
        <div class="col-md-3 mb-4" th:each="product : ${products}">
            <div class="card shadow-soft h-100 product-card">

                <img th:src="@{|/img/${product.imageUrl}|}"
                     class="card-img-top"
                     style="height: 200px; object-fit: cover;">

                <div class="card-body text-center">
                    <h5 th:text="${product.name}"></h5>
                    <p class="fw-bold text-danger" th:text="|${product.price}원|"></p>

                    <a th:href="@{'/product/' + ${product.id}}"
                       class="btn btn-primary w-100">자세히 보기</a>
                </div>

            </div>
        </div>
    </div>

</div>

<th:block th:replace="fregments/footer :: footer"></th:block>
</body>
</html>
